@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
body {
    color: white;
    background-color: black;
    overflow-x: hidden;

    font-family: "Roboto Slab", "Arial", sans-serif, Serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 250px;
}

p {
    width: max-content;
    font-size: 18pt;
}


.grc1 {
    position: fixed;
    left: -1000px;
    top: -1000px;
    z-index: -1;
}
.grc2 {
    position: fixed;
    right: -1000px;
    bottom: -1000px;
    z-index: -1;
}
.gr {
    width: 2000px;
    height: auto;
    position: relative;

    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.gr1 {
    animation: gra alternate ease-in-out 1s infinite;
}
.gr2 {
    animation: gra alternate-reverse ease-in-out 1s infinite;
}
@keyframes gra {
    from {
        top: -200px;
    }
    to {
        top: 200px;
    }
}
